NEXT_PUBLIC_SUPABASE_URL=https://krnsfelxtkpsiueuovwp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key

CLOUDFLARE_R2_ACCOUNT_ID="your_account_id"
CLOUDFLARE_R2_ACCESS_KEY_ID="your_access_key"
CLOUDFLARE_R2_SECRET_ACCESS_KEY="your_secret_key"
CLOUDFLARE_R2_BUCKET_NAME="worldstarhiphop"

RESEND_API_KEY="your_resend_api_key"
VERCEL_TOKEN="your_vercel_token"
GITHUB_TOKEN="your_github_token"
